<!DOCTYPE html>
{% extends "firstApp/base.html" %}

<html>
<head>
    <meta charset="UTF-8">
    {% block title %} Index {% endblock %}
</head>
<body>
    {% block content %}

    <h3>Welcome to Home Page</h3>
    
    <table style="width:100%; text-align:center">
    <tr>
        <th>Index</th>
        <th>Tv Show</th>
        <th>IMDb Rating</th>
    </tr>
    {% for tv_show,IMDb_rating in tv_shows.items %}
    {% if IMDb_rating == "8.5" %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{tv_show}}</td>
        <td>{{IMDb_rating}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    {% endblock content %}

</body>
</html>